.navigation {
    padding: 20px;
    background: rgba(255,255,255,0.8);
    text-align: right;
    box-shadow: 0 0 20px rgba(0,0,0,0.25);
    position: relative;
    z-index: 20;

    h2 {
        width: 50%;
        margin: -4px 0 0;
        padding: 0;
        color: rgba(200,10,210,0.8);
        text-align: left;
        font-size: 1.125rem;
        text-shadow: 1px 1px 3px rgba(0,0,0,0.15);
        float: left;
    }

    a {
        margin: 0 10px;
        color: purple;
        text-decoration: none;
        font: bold 0.875rem/1rem arial, helvetica, 'helvetica neue', sans-serif;
        cursor: pointer;

        &.active {
            color: #999;
        }
    }
}